{{#section 'title'}}
	<title>Auction IT!</title>
{{/section}}

<nav class="navbar white text-center">
	<h2>Auction <span class="text-red">IT!</span></h2>
</nav>

<div class="container white round cast-shadow">
	<div class="row">
		<div class="col-6 p-t-40 p-b-40 text-black text-center light">
			<h2>Get your stuff sold <span class="text-red">easily</span>!</h2>
			<div style="max-width: 97%;">
				<p class="m-t-40 f-s-18">Place them on auction and let potential buyers place their bids!</p>
				<p class="m-t-20 f-s-18">View bids real-time, sell anytime!</p>
				<p class="m-t-40" style="text-decoration: underline;">Sign up now to start buying &amp; selling.</p>
			</div>
		</div>
		<div class="col-6 p-t-40 p-b-40">
			<div class="tabbed round">
				<div class="tabs">
					<a href="#" data-target="signupForm" class="tab active w-50">
						Sign Up
					</a>
					<a href="#" data-target="signinForm" class="tab w-50">
						Sign In
					</a>
				</div>
				<div class="clear-fix"></div>
				<div class="tab-targets round">
					<div id="signupForm">
						<form class="" action="/api/user" method="POST">
							<div class="form-group w-95">
								<input type="text" name="username" placeholder="Enter username">
							</div>
							<div class="form-group w-95">
								<input type="tel" name="phone" placeholder="Enter phone number">
							</div>
							<div class="form-group w-95">
								<input type="text" name="password" placeholder="Enter password">
							</div>
							<button class="btn m-t-15" type="submit text-center">Sign Up!</button>
						</form>
					</div>
					<div id="signinForm">
						
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="clear-fix"></div>
</div>